doctype html
html 
  head 
    title Mehraj Dance Academy
    block script 
    block style 
     
    body 
       nav#navbar
        ul
            div#logo
                img(src="/static/lg.avif")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
            
    block content 
    section#sectionthird 
         | making this website by Mehraj ali khan in 2023 danceacedemy 
