doctype html
html
  head
    title Mehraj Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/lg.avif")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    section#sectionfirst 
         div Welcome to the Mehraj Dance Academy
         div.smaal Eat sleep Dance repeat

    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/1.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/2.jpg")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/3.png")
                div.card-content
                    p This is the best dance academy of the universe
    
    section#sectionsecond 
         h2 our sponser
         div#sponser
             img(src="/static/lg1.png", alt="sponser-imsge", Class="spImg")
             img(src="/static/lg.avif", alt="sponser-imsge", Class="spImg")
             img(src="/static/lg2.png", alt="sponser-imsge", Class="spImg")
             img(src="/static/lgg4.jpg", alt="sponser-imsge", Class="spImg") 
    
          
    section#sectionthird 
         | making this website by Mehraj ali khan in 2023 danceacedemy
    script
      include ../static/index.js




    